// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import "public/bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "public/bower/jquery-ui/themes/base/jquery-ui";
@import "public/bower/font-awesome/scss/font-awesome";

/**
 *Logo image
 */

#header {
  .navbar {
    background-color: #3c8dbc;
    #logo {
      height:30px;
    }
    a {
      color:  #FFFFFF;
    }
    li {
      a {
        color:  #FFFFFF;
        background-color: #3c8dbc;
      }
    }
  }
}

#app-layout {
  .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.form-group {
  padding: 0 15px;
}
/**
 * Left menu
 */
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 12px;
  font-weight: 200;
  background-color: #262d37;
  position: fixed;
  top: 0px;
  width: 200px;
  height: 100%;
  color: #e1ffff;
}
.nav-side-menu .brand {
  background-color: #23282e;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 14px;
}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}
.nav-side-menu ul .sub-menu li:hover,
.nav-side-menu li .sub-menu li:hover {
  background-color: #020203;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}
.nav-side-menu li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}


/**
 * Login form
 */
@media (min-width: 768px) {
  .omb_row-sm-offset-3 div:first-child[class*="col-"] {
    margin-left: 25%;
  }
}
.omb_login {
  border: 2px solid;
  border-radius: 2px;
  border-color: #ddd;
}

.omb_login .omb_authTitle {
  text-align: center;
  line-height: 300%;
  background-color: #D3D3D3;
  margin-top: 0px;
}

.omb_login .omb_socialButtons a {
  color: white; // In yourUse @body-bg
  opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
  color: white;
  opacity:1;
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-twitter {background: #00aced;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}

.omb_login .omb_loginOr {
  position: relative;
  font-size: 1.5em;
  color: #aaa;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
  display: block;
  position: absolute;
  left: 50%;
  top: -0.6em;
  margin-left: -1.5em;
  background-color: white;
  width: 3em;
  text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
  width: 2em;
}
.omb_login .omb_loginForm  .help-block {
  color: red;
}

@media (min-width: 768px) {
  .omb_login .omb_forgotPwd {
    text-align: right;
    margin-top:10px;
  }
}
.comment {
  margin-left: 379px;
}

#comment-message ,#commentProduct {
  display: none;
}

.comments-list {
  padding-top: 20px;
}

.commentId {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dadada;
}

.comment_content {
  overflow: hidden;
  .comment_text {
    color: #3a3a3a;
    margin-bottom: 10px;
  }
  .comment-info {
    color: #acacac;
    font-size: 12px;
  }

  .comment-info > * {
    display: inline-block;
  }

  .comment-author {
    color: #3a3a3a;
  }

  .comment-time {
    margin-left: 10px;
  }

}